node_modules/
/build/
/node_modules/
**/*.json
**/*.js
**/*.test.ts
**/*.d.ts
mockDom.ts

*.js
*.generated.ts
*.scss.d.ts
storybook-static/

tools/
src/js/utils/mocks/
*.js
*.generated.ts
*.d.ts
*.scss.d.ts
next-env.d.ts

/.next/
/out/
/encrypt/
